.footer {
    background-color: #121212;
    color: #66fcf1;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    font-family: "Signika";
    height: 10vh;
    margin-top:  450px;
    }