.footer {
    background-color: coral;
    padding: 20px;
    text-align: center;
    height: 10vh;
    border-top: lavender 2px double;
}
.footer p {
    font-size: 17px;
    font-family: "Signika";
    color: red;
}